.navbar{
   background-color: #c5d8f9;
}

.navbar-nav {
    position: absolute;
    right: 0;
    padding: 6px;
    font-weight: bolder;
    font-size: large;
    margin-right: 40px;
}
.banner{
    height: 270px;
    background-color: #c75f5f;
    
}

.container .col-md-9 .heading{
  
 
  font-size: x-large;
  font-weight: 800;
  
}
.container .col-md-9 .para1{
   
    color: rgb(140 131 131);
   
}
.container .col-lg-3 .para2{
    color: rgb(140 131 131);
   
}
.container .col-lg-3 .heading2{
   
    font-weight: 850;
   
}
.container .col-lg-3{
    
   border: 1px solid red;
   height: auto;
   
  
}
.container .col-lg-3 .heading4{
    margin-top: 35px;
    font-weight: 750;
}

.btn-danger{
    border-radius: 0%;
    
    width: 130px;
    background-color: #f13624;
}

.form-control{
    display: inline;
    border-color:transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.footer-copyright{
    background-color: #99b9f0;
    font-weight: bolder;
    font-size: large;
    padding: 6px;
}
.form-control:focus {
    border-color: transparent;
    box-shadow: 0 0 0px 0px rgba(0, 0, 1, 0.075), 0 0 1px rgba(0, 0, 0, 0.6);
    border-radius: 0%;
  }
  .name1{
    border-bottom:2px solid black;
}
.cname{
    margin-top:50px;
    border-bottom:2px solid black;
}
.bt{
    margin-top:60px;
    border:2px solid #f13624;
    color:white;
    background-color:#f13624;
    width:100px;
    height:45px;
}